.places__title {
  grid-area: title;
  color: white;
  font-family: Inter;
  font-style: normal;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  align-self: start;
  margin: 0;
  padding: 0;
}
