.lead {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 77%;
  margin: 4.4% auto 0;
  padding: 0;
}
@media screen and (max-width: 1279px) {
  .lead {
    margin-top: 4.7%;
    width: 91%;
  }
}
@media screen and (max-width: 1023px) {
  .lead {
    margin: 6.25% 0 0;
    width: 100%;
  }
}
@media screen and (max-width: 767px) {
  .lead {
    margin-top: 15%;
  }
}
