.cover__subtitle {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 122%;
  text-align: center;
  color: #FFFFFF;
  margin: auto;
  padding: 0 30% 0;
  align-self: center;
}
@media screen and (max-width: 320px) {
  .cover__title {
    font-size: 14px;
    line-height: 16px;
  }
}
