.header {
  width: 92.5%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  border: 1px solid red;
  margin: 28px auto 0;
}

@media screen and (max-width: 1024px) {
  .header {
    width: 91%;
  }
}
@media screen and (max-width: 768px) {
  .header {
    width: 94%;
  }
}
@media screen and (max-width: 320px) {
  .header {
    width: 90%;
    margin-top: 16px;
  }
}
