.places__paragraph_bottom {
  grid-area: text_bottom;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 163%;
  color: #FFFFFF;
  padding: 0 0 20% 0;
  margin: 26px 0 0 40px;
}
