.places__paragraph_bottom {
  border: 1px red solid;
  grid-area: text_bottom;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 163%;
  color: #FFFFFF;
}
