.lead__subtitle {
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 120%;
  text-align: center;
  color: #FFFFFF;
  padding: 0 25%;
  margin: 3.45% auto 0;
  width: 50%;
}
@media screen and (max-width: 1279px) {
  .lead__subtitle {
    width: 62.5%;
    padding: 0;
  }
}
@media screen and (max-width: 1023px) {
  .lead__subtitle {
    width: 83%;
    padding: 0;
  }
}
@media screen and (max-width: 767px) {
  .lead__subtitle {
    font-size: 16px;
    line-height: 20px;
    margin-top: 5%;
    width: 90%;
  }
}
