.lead__subtitle {
  border: 1px solid red;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 120%;
  text-align: center;
  color: #FFFFFF;
  padding: 0;
  margin: 32px auto 0;
}
@media screen and (max-width: 320px) {
  .lead__subtitle {
    font-size: 16px;
    line-height: 20px;
    margin-top: 16px;
  }

}
