.cover {
  width: 92.5%;
  max-width: 1184px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}

@media screen and (max-width: 1024px) {
  .cover{
    width: 100%;
    padding: 0;
  }
}
@media screen and (max-width: 768px) {
  .cover{
    margin-top: 90px;
  }
}
@media screen and (max-width: 320px) {
  .cover{
    margin-top: 66px;
  }
}
