.cover__overlay {
  position: absolute;
  top:0;
  left:0;
  right: 0;
  bottom: 0;
  background-color: black;
  text-decoration: none;
  color: white;
  z-index: 0;
  opacity: 0;
}
.cover__overlay:hover {
  opacity: 0.6;
}
